@import "./styles/_reset";

:root {
  --main-text-color: #4d473a;
  --main-bg-color: #f6f2f0;
  --active-color: #c7b389;
}

@font-face {
  font-family: "MarckScript";
  font-weight: 400;
  font-style: normal;

  src: url(./fonts/MarckScript/MarckScript-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MontserratAlternates";
  font-weight: 900;
  font-style: normal;

  src: url(./fonts/MontserratAlternates/MontserratAlternates-Black.ttf)
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-style: normal;

  src: url(./fonts/MontserratAlternates/MontserratAlternates-Bold.ttf)
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "MontserratAlternates";
  font-weight: 400;
  font-style: normal;

  src: url(./fonts/MontserratAlternates/MontserratAlternates-Regular.ttf)
    format("truetype");
  font-display: swap;
}

body {
  font-family: "MontserratAlternates", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
  letter-spacing: 0.07875px;
  background-color: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "MarckScript", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: var(--active-color);
}

h3 {
  font-family: "MarckScript", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  color: var(--active-color);
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;

  gap: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 40px 20px;
}

.main-bg {
  margin-top: 78px;
  width: 100%;
  height: 600px;
  background: url("../public/img/BG_main.webp") no-repeat center center;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.custom-link {
  color: var(--main-text-color) !important;
  transition: all 0.2s ease-in;
}

.custom-link:hover {
  color: var(--active-color) !important;
}

@media only screen and (max-width: 600px) {
  .main-content {
    font-size: 12px;
    width: 100%;
    padding: 20px 10px;
    background-color: #fff;
  }
}

@media only screen and (max-width: 900px) {
  .main-bg {
    margin-top: 64px;
  }
}
